#mainWindow {
    display: flex;
    flex-flow: row;
}

  #contactBar{
      align-self: stretch;
      height: 100%;
      width: 400px;
      min-width: 400px;
      background-color: orange;
  }

  #chatWindow{
      flex-grow: 1;
    //   align-self: stretch;
      display: flex;
      background-color: green;
      flex-flow: column;
      height: 100%;
    //   width: 100%;
  }

  #messageArea {
      height:90%;
      display: flex;
      flex-flow: column;
  }

  #messageHistory {
      flex-grow: 1;
      overflow-y: scroll;
  }

  #userArea {
      cursor: pointer;
  }

  #conversationContainer {
      background-color: green;
  }

  #sendArea {
    //   max-width: 100%;
      flex-grow: 1;
      display: flex;
      flex-flow: column-reverse;
      background-color: white;
    //   align-self: flex-end;
  }

  #messageForm {
      margin: auto;
      width: 100%;
      display: inline;
    //   width: 80%;
  }


  .userTab {
      height: 90px;
      h4{
          display: inline;
          padding: 10px;
      }
      .avatarImg {
          width: 80px;
          height: 80px;
          vertical-align: middle;
      }
  }

.friendTab {
    h5 {
        display: inline;
        padding: 10px;
    }
    .avatarImg {
        width: 60px;
        height: 60px;
    }
}

#friendList {
    list-style-type: none;
    padding: 0;
    li {
        cursor: pointer;
        .well{margin-bottom: 5px;}
    }
}

 .chatHeader {
    width: 30%;
    height: 200px;
    min-height: 200px;
}

.friendHeaderTab {
    h3 {
        display: inline;
        padding: 20px;
    }
    .avatarImg{
        width: 150px;
        height:150px;
        vertical-align: middle;
    }
}
